.nav-bar{
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav__list{
    list-style: none;
    display: flex;
    font-size: 1.7rem;
    padding: 1rem 0;
    background-color: #d4d4d4;
    font-weight: 700;
   
}
.nav__link{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 3rem;
    color: #000;
}
.active{
    color: #6610f2;
}